<div class="modal fade" id="CreateUser" tabindex="-1" role="dialog" aria-labelledby="CreateUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <p class="h3 modal-title">Create New User</p>
            </div>
            <div class="modal-body">
                <form data-ajax="true" data-ajax-method="post" data-ajax-success="UserCreateResult" id="CreateUserForm" asp-controller="Users" asp-action="Create" asp-route-returnurl="@ViewBag.ReturnUrl">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>First Name</label>
                            <input name="Firstname" id="Firstname" class="form-control" />
                            <span asp-validation-for="Firstname" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Surname</label>
                            <input name="Surname" id="Surname" class="form-control" />
                            <span asp-validation-for="Surname" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Date of Birth</label>
                            <input type="date" name="DOB" id="DOB" class="form-control" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Gender</label>
                            <select name="Gender" id="Gender" class="form-control">
                                <option></option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label>Email</label>
                            <input name="Email" id="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile</label>
                            <input name="Mobile" id="Mobile" class="form-control" />
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Work Mobile</label>
                            <input name="WorkMobile" id="WorkMobile" class="form-control" />
                            <span asp-validation-for="WorkMobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a data-bind="click: CreateUser" class="btn btn-primary">Create</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>