@{
    ViewBag.Title = "Users";
}

@model  RTTWebApp.Models.SearchResult.UserSearch

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <table class="table table-sm table-responsive table-bordered mb-0">
        <thead>
            <tr>
                <th>State</th>
                <th>Id</th>
                <th>Package</th>
                <th>Source</th>
                <th>Section</th>
                <th>Affiliate</th>
                <th>Email</th>
                <th>Business</th>
                <th>Name</th>
                <th>Number</th>
                <th>Reg. Date</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        @foreach (var user in Model.Users)
        {
            <tbody>
            <tr>
            </tr>
            </tbody>
        }
    </table>
</div>