
@{
    ViewBag.Title = "Users";
}
<div class="card">
    <h4 class="card-header">Users</h4>
    <div class="card-body">
        <form role="form" novalidate="novalidate" lpformnum="1">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>User Id</label>
                        <input type="text" name="UserId" placeholder="Enter UserId" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" name="FirstName" placeholder="FirstName" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" name="Surname" placeholder="Surname" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="Email" placeholder="Enter Email" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" name="Mobile" placeholder="Enter Email" class="form-control" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" name="Gender">
                            <option></option>
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>
                </div>
            </div>
            <a data-bind="click: Search">
                <button class="btn btn-primary">Search</button>
            </a>
        </form>
    </div>
</div>

<div >
    <div class="card">
        <h4 class="card-header" style="line-height: 33px;">
            <span data-bind="HeaderText">Users</span>
            <a data-toggle="modal" data-target="#CreateUser" class="btn btn-primary pull-right"><i class="fa fa-share-square-o"></i>Add User</a>
        </h4>
        <table class="table table-sm table-responsive table-bordered mb-0">
            <thead>
                <tr>
                    <th>
                        UserID
                    </th>
                    <th>
                        FirstName
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        DOB
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Mobile
                    </th>
                    <th>
                        WorkMobile
                    </th>
                    <th>
                        DateCreated
                    </th>
                    <th>
                        DateUpdated
                    </th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Users">
                <tr>
                    <td>
                        <div data-bind="text: UserId"></div>
                    </td>
                    <td>
                        <div data-bind="text: Firstname"></div>
                    </td>
                    <td>
                        <div data-bind="text: Surname"></div>
                    </td>
                    <td>
                        <div data-bind="text: Gender"></div>
                    </td>
                    <td>
                        <div data-bind="text: $parent.convertToJsDate(DOB)"></div>
                    </td>
                    <td>
                        <div data-bind="text: Email"></div>
                    </td>
                    <td>
                        <div data-bind="text: Mobile"></div>
                    </td>
                    <td>
                        <div data-bind="text: WorkMobile"></div>
                    </td>
                    <td>
                        <div data-bind="text: $parent.convertToJsDate(DateCreated)"></div>
                    </td>
                    <td>
                        <div data-bind="text: $parent.convertToJsDate(DateUpdated)"></div>
                    </td>
                    <td>
                        <a href="#" data-toggle="modal" data-target="#AddAddress" asp-route-id="userId">Add Address</a> |
                        <a href="#" data-toggle="modal" data-target="#ShowAddress" asp-route-id="userId">Show User Addresses</a> |
                        <a href="#" data-bind="click: $parent.showEditDialog.bind($data, UserId,Firstname,Surname,Gender,$parent.convertToJsDate(DOB),Email,Mobile,WorkMobile)" data-toggle="modal" data-target="#EditUser">Edit</a> |
                        <a href="#" data-bind="click: $parent.showDeleteDialog.bind($data, UserId, Firstname, Surname)" data-toggle="modal" data-target="#UserDelete" asp-route-id="userId">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <nav aria-label="page navigation here" data-bind="visible: ShowPagingControl">
        <ul class="pagination justify-content-center">
            <li class="page-item" data-bind="visible: !FirstPageActive()">
                <a href="javascript:;" class="page-link" aria-label="Previous" data-bind="click: GoToFirstPage">
                    <span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item" data-bind="visible: HasPrevious">
                <a title="Prev" href="javascript:;" class="page-link" aria-label="Previous" data-bind="click: GoToPreviousPage">
                    <span aria-hidden="true">&lsaquo;</span><span class="sr-only">Previous</span>
                </a>
            </li>

            <!-- ko foreach: Pages -->
            <li class="page-item" data-bind="css: { active: $parent.CurrentPage() === $data }">
                <a href="javascript:;" class="page-link" data-bind="click: $parent.GoToPage, text: $data"></a>
            </li>
            <!-- /ko -->

            <li class="page-item" data-bind="visible: HasNext">
                <a href="#" class="page-link" aria-label="Next" data-bind="click: GoToNextPage">
                    <span aria-hidden="true">&rsaquo;</span><span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
@{
    Html.RenderPartial("Create");
    Html.RenderPartial("Edit");
    Html.RenderPartial("Delete");
}

@section scripts
{
    <script src="~/Scripts/bootstrap-notify.min.js"></script>
    <script type="text/javascript">
        // NOTIFY - http://bootstrap-notify.remabledesigns.com/
        popup = {
            showNotification: function (title, message, from, align, time, refresh) {
                var from = from;
                var align = align;

                $.notify({
                    title: title,
                    message: message
                }, {

                    type: 'info',
                    timer: time,
                    z_index: 9999,
                    onClosed: function () {
                        if (refresh == "true")
                            location.reload();
                    },
                    placement: {
                        from: from,
                        align: align
                    },
                    template: '<div data-notify="container" class="col-xs-11 col-sm-3 notify-alert alert alert-{0}" role="alert">' +
                        '<button type="button" aria-hidden="true" class="close" data-notify="dismiss"><i class="fa fa-close"></i></button>' +
                        '<h4 data-notify="title">{1}</h4> ' +
                        '<p data-notify="message">{2}</p>' +
                        '<a href="{3}" target="{4}" data-notify="url"></a>' +
                        '</div>'
                });
            }
        }
    </script>

    <script src="~/Scripts/lib/knockout/knockout-latest.min.js"></script>
    <script src="~/Scripts/ViewModels/UserViewModel.js"></script>
}
